.homeBody {
  height: 80vh;
}

.search {
  display: flex !important;
  border: 1px solid white !important;
  padding: 10px !important;
  border-radius: 999px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: transform 100ms ease-in;
}

.search:hover {
  transform: scale(1.07);
}

.googleImage {
  max-width: 30vw;
  max-height: 30vh;
}

.gInput {
  border: none !important;
  outline: none !important;
  width: 50vw !important;
}
.homeBody>.btn:hover {
  border: 1px solid #ccc;
  background-color: white !important;
}
.homeBody>.btn {
  background-color: rgb(243, 243, 243) !important;
}
